body, html{
    height: 100%;
    width: 100%;
}


body{
  background-color: #0c0f14;
  margin: 0;
}

img {
max-width: 100%;
margin-top: 4em;
max-height: 100%;

}

#headerContainer{

padding-left: 50%;
padding-bottom: 5%;
position: relative;
margin-left: 0;

width: 100%;
margin-right: 0;
border-bottom: 3em #17031c solid;
font-family: 'Raleway', sans-serif;


}



 /* #headerContainer> div{
text-align: left;
font-family: 'Raleway', sans-serif;




}  */

#one {
padding: 0;
line-height: 100%;
text-align: left;
font-size: 1400%;
width: 100%;
  color: white;
  font-family: 'Raleway', sans-serif;


}



#two {
text-align: left;
font-size: 300%;
line-height: 130%;
width: 400%;

  font-family: 'Raleway', sans-serif;


}

#three {
text-align: left;
font-size: 1000%;
color: #212fff;

  font-family: 'Raleway', sans-serif;


}



a{
    display: inline;
    text-decoration: none;
    text-decoration: underline;
      color:green;

}


span{
    display: inline;

      color: white;

}